.card-container {
    background-color: #282c34;
}
.card-img{
    width: 250px;
    height: 350px;
}
.card-body{
    background-color: ;
    text-align: justify ;
    height: 60px;
    width: 135px;

}
.card-title{
    text-align: center;
    background-color: yellow;
    height: 300px;
    white-space: normal;

}
.card-text{
    text-align: center;
    color: #FFBD9B;
    font-family: 'Staatliches', cursive;
}